.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
}

.link {
  text-decoration: none;
}

.about {
    font-size: 40px;
    margin: 0px;
    color: #551b8b
}